<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- India State Map  -->
    <title>India Map</title>

    <!--  Scripts  -->
    <%= javascript_include_tag "d3.min" %>
    <%= javascript_include_tag "d3.geo.min" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/addons/p5.sound.min.js"> 
    </script>
    <%= include_gon(init: true, watch: true) %>
    <%= csrf_meta_tags %>

    <!--  Styles  -->  
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "zcolorbrewer" %>
    <%= stylesheet_link_tag "home" %>
</head>
<body>

<%= yield %>

</body>
</html>